<!-- head section -->
<%-include('partials/topHead')  %> 

<body id="top">
    <!-- Tophead section -->
    <%-include('partials/header')  %> 
    <!--  navbar section -->
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
      <div class="container">
          <a class="navbar-brand" href="/">
              <img src="images/logo.png" alt="" class="img-fluid">
          </a>
  
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
              aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icofont-navigation-menu"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarmain">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                  <li class="nav-item active"><a class="nav-link" href="/department">Departments</a></li>
                  <li class="nav-item"><a class="nav-link" href="/doctor">Doctor</a></li>
                  <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav> 
</header>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">All Department</span>
            <h1 class="text-capitalize mb-5 text-lg">Care Department</h1>  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section service-2">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                  <div class="section-title">
                      <h2>Award winning patient care</h2>
                      <div class="divider mx-auto my-4"></div>
                      <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                  </div>
              </div>
          </div>
  
          <div class="row">
            <% for( let departData of departmentData) {%> 
                
              <div class="col-lg-4 col-md-6 col-sm-6 ">
                  <div class="department-block mb-5">
                      <img src="<%= departData.image %>" alt="" style="width:750px; height: 320px" class="img-fluid w-100">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color"><%= departData.department_name %></h4>
                          <p class="mb-4"><%= departData.department_Description.substring(00,50) %></p>
                          <a href="/clintSingledepartmentf/<%= departData._id %>" class="read-more">Learn More  <i class="icofont-simple-right ml-2"></i></a>
                      </div>
                  </div>
                </div>
                <% } %>
                  <!-- 
                 -->
              </div>
          </div>
      </div>
  </section>


<!-- footer Start -->
<%-include("partials/footer") %> 
    <!-- 
    Essential Scripts
    =====================================-->
   <%-include("partials/scripts") %> 