<%- include("../partial/header") %>

<!-- Page Wrapper -->
<div id="wrapper">
  <%- include("../partial/sidebar") %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <%- include("../partial/top-nav") %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <form action="/addDoctor" method="post" enctype="multipart/form-data">
                <label>Doctor Name:</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Enter doctor Name........">
                </div>
                <label> Description:</label>
                <div class="form-group">
                  <textarea type="text" name="description" rows="6" cols="100"  placeholder="Enter department Description....."> </textarea>
                </div>
                <label>Image:</label>
                <div class="form-group">
                    <input type="file" class="form-control" name="image" placeholder="Enter a image">
                </div>
                <div class="form-group">
                    <div class="form-group">
                      <label>Choose Department</label>
                      <select name="department_name" class="form-control">
                        <option disabled selected>Select Department</option>
                        <% for(let data of doctor ){ %>
                        <option value="<%= data.id%>"><%= data.department_name%></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
            </form>
        </div>
     </div>
      </div>
      <!-- End Begin Page Content -->
    </div>
    <!-- End of Main Content -->
   
  </div>
</div>